<div class="top-charts-container">

    <header>
        <div class="charts-container header-container">
            <section class="row header">
                <ul class="list-inline">
                    <li><a href="#">Categories</a></li>
                    <li>Top Charts</li>
                    <li><span>Icon</span></li>
                </ul>
            </section> <!-- close .header -->
            <section class="row chart-options">
                <ul class="list-inline list-chart-options text-center">
                    <li class="col-xs-4 chart-option option-paid">Paid</li>
                    <li class="col-xs-4 chart-option option-free">Free</li>
                    <li class="col-xs-4 chart-option option-top-grossing">Top Grossing</li>
                </ul>
            </section> <!-- close .chart-options -->
        </div> <!-- close .header-container -->
    </header>

    <main>
        <div class="charts-container main-container">

        </div><!--  close .main-container -->
    </main>

    <footer></footer>

    <script id="renderIndexPage" type="x-handebars-template">
        {{#each all_apps}}
            <section class="row row-app">
                <div class="app-number">
                    <span>1</span>
                </div>
                <div class="app-info">
                    <div class="image-wrapper">
                        <img src="{{app_icon}}" alt="">
                    </div>
                    <div class="info-wrapper">
                        <h3 class="app-title">{{app_name}}</h3>
                        <p class="app-category">{{category}}</p>
                        <ul class="app-star-rating list-inline">
                            <li>{{rating}}</li>
                        </ul>
                        <span class="app-count-rating">({{country_ratings}})</span>
                    </div>
                </div>
                <div class="app-open">
                    <a href="{{app_url}}" target="_blank">{{price}}</a>
                </div>
            </section>
        {{/each}}
    </script>

</div> <!-- close .top-charts-container -->